<h2><%= t('.users_profile', :full_name => @user.full_name) %></h2>

<dl>
  <dt><%= t('.full_name') %></dt>
  <dd><%= @user.full_name %></dd>
  <% if current_user.can_see_email?(@user) %>
    <dt><%= t('.email') %></dt>
    <dd><%= @user.email %></dd>
  <% end %>
  <% if @user.respond_to?(:accounts) %>
    <dt><%= t('.accounts') %></dt>
    <dd>
      <% if @user.accounts.empty? %>
        <%= t('.no_accounts') %>
      <% else %>
        <ul>
          <% @user.accounts.each do |account| %>
            <li>
              <% if current_user.can_see_account?(account) %>
                <%= link_to account.name, account_path(account) %>
              <% else %>
                <%= account.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </dd>
  <% end %>
</dl>

<% if current_user.can_edit_profile?(@user) %>
  <ul class="action-list">
    <li><%= link_to t('.edit_profile'), edit_user_path(@user) %></li>
  </ul>
<% end %>
